<div [@routerTransition]>
    <app-page-header [heading]="'Registered students'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
           
            <div class="card mb-3">
                <div class="card-header">Registered students
                </div>
                <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)"
                (editConfirm)="onSaveConfirm($event)"
                (createConfirm)="onCreateConfirm($event)" [settings]="settings" [source]="data"></ng2-smart-table>
                
            </div>
            
        </div>
    </div>
</div>
